.login-label-icon{
    margin-right: 10px;
}

.register-item-wrapper{
    display: grid;
    grid-template-columns: 104px auto;
    align-items: center;
}

ion-card{
    --ion-background-color: #e3e7f5;
}