<ion-header>
  <ion-toolbar>
    <ion-title>wine</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="wine-wrapper" *ngIf="wine">
    <div class="wine-details-wrapper">
        <div class="wine-name">
          Name : {{ wine.name }}
        </div >
        <div class="wine-description">
          Description : {{ wine.description }}
        </div>
        <div class="wine-castle">
          Castle : {{ wine.castle }}
        </div>
        <div class="wine-bottling">
          Bottling : {{ wine.bottling }}
        </div>
        <div class="wine-price">
          Price : {{ wine.price }} € 
        </div>
      </div>

    <div class="wine-icon-wrapper">
      icon : ...
    </div>

  </div>

</ion-content>
