<ion-header>
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" size="small"></ion-back-button>
    </ion-buttons>

    <ion-title  class="ion-text-start">wine</ion-title>
    <!--ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons-->

  </ion-toolbar>
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</ion-header>

<ion-content>

  <ion-card class="wine-wrapper" *ngIf="wine">

    <ion-img id="wine-image" [src]="wine.getImage()" (alt)="wine.getWineName()" *ngIf="wine.hasImage()" height="50"></ion-img>


    <ion-card-header class="wine-rate" *ngIf="wine.hasBeenRated()">      
      <ion-grid>
        <ion-row>
          <ion-col>  {{ wine.getRateValue() }}/5 </ion-col>
          <ion-col class="wine-price ion-text-end">  {{ wine.price }} € </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>    
   
    <ion-card-title class="wine-name ion-text-center"> {{ wine.name }} </ion-card-title>

    <ion-card-content class="wine-description">      
      <div class="wine-castle">
        <ion-icon name="home-outline"></ion-icon> {{ wine.castle }}
      </div>
      
      <div class="wine-bottling" title="bottling">
        <ion-icon name="business-outline"></ion-icon> {{ wine.bottling }}
      </div>
      
      <p>
        {{ wine.description }}
      </p>

    </ion-card-content>
      
  </ion-card>


</ion-content>
