<ion-header [translucent]="true">
  <ion-toolbar> 

    <ion-buttons slot="end">
      <!--ion-label>username</ion-label-->
      <ion-button color="primary" (click)="showLoginForm()">log in</ion-button>
      <ion-button>
        <ion-icon  name="person-circle-outline" horizontal="right" size="large"></ion-icon> 
      </ion-button>
    </ion-buttons>
    <ion-title>
      wine shazam      
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <img *ngIf="takenPicture" id="taken-picture-img" [src]="takenPicture" alt="photo">

  <ion-card *ngIf="workerReady && (captureProgress > 0)">
    <ion-card-header>
      <ion-card-title>
        Capture progress: {{ captureProgress }}%
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ ocrResult }}
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed" > <!-- enable only when worker is ready-->
    <ion-fab-button (click)="takePicture()" [disabled]="!workerReady">
      <ion-icon name="camera" *ngIf="workerReady"></ion-icon>
      <img id="camera-loading-img" src="assets/loading_horizontal_dot.gif" alt="loading" *ngIf="!workerReady">
    </ion-fab-button>
  </ion-fab>

</ion-content>
