<ion-header [translucent]="true">
  <ion-toolbar> 

    <ion-buttons slot="end">
      <!--ion-label>username</ion-label-->
      <ion-button color="primary" (click)="showLoginForm()">log in</ion-button>
      <ion-button>
        <ion-icon  name="person-circle-outline" horizontal="right" size="large"></ion-icon> 
      </ion-button>
    </ion-buttons>
    <ion-title>
      wine shazam      
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!--ion-card vertical="top" horizontal="center">  
    <ion-card-content >
      <ion-icon name="person-circle-outline" horizontal="right"></ion-icon>
    </ion-card-content>
  </ion-card-->

  <img *ngIf="takenPicture" id="taken-picture-img" [src]="takenPicture" alt="photo">


  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="takePicture()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
