
/*
:root {
    --ion-color-coral: #0eebeb;
    --ion-color-coral-rgb: 14,235,235;
    --ion-color-coral-contrast: #000000;
    --ion-color-coral-contrast-rgb: 0,0,0;
    --ion-color-coral-shade: #0ccfcf;
    --ion-color-coral-tint: #26eded;
  }
  
  .ion-color-coral {
    --ion-color-base: var(--ion-color-coral);
    --ion-color-base-rgb: var(--ion-color-coral-rgb);
    --ion-color-contrast: var(--ion-color-coral-contrast);
    --ion-color-contrast-rgb: var(--ion-color-coral-contrast-rgb);
    --ion-color-shade: var(--ion-color-coral-shade);
    --ion-color-tint: var(--ion-color-coral-tint);
  }

  */