<ion-header>
  <ion-toolbar>
    
    <!-- back button -->
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="home" size="small"></ion-back-button>
    </ion-buttons>

    <!-- title -->
    <ion-title class="ion-text-start">comment</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content >

  <!-- comment list -->
  <div class="wine-comment-wrapper" *ngIf="wine">
    <ion-card class="comment-name"  *ngFor="let data of wine.getCommentsAndRates()">   
      
      <ion-card-content>   
           
        <ion-card-title class="comment-user">
          <ion-icon name="person-outline" size="medium"></ion-icon>
          {{ data.comment.user.toString() }}
        </ion-card-title>
        
        <ion-card-subtitle>
            {{ data.comment.date.date }}
        </ion-card-subtitle>
        
        <ion-card-subtitle>
          <div *ngIf="data.rate">
            {{ data.rate.getRate() }} / 5
          </div>
        </ion-card-subtitle>
  
        <p class="wine-comment">
          {{ data.comment.getComment()}}
        </p>
        
      </ion-card-content>
  
    </ion-card>

  </div>


  <!-- comment add button -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed"  *ngIf="wine && !commenting"> 
    <ion-fab-button (click)="comment()" color="success" size="large">
      <img id="new-comment-img" src="assets/new-comment.png" alt="">
    </ion-fab-button>
  </ion-fab>
 
  <!-- new comment -->
  <div id="new-comment-wrapper" *ngIf="commenting">
    <ion-icon name="close-circle-outline" size="large" (click)="closeNewComment()"></ion-icon>
    <textarea name="new-comment" id="new-comment" cols="30" rows="5" placeholder="Your comment" [(ngModel)]="newComment"></textarea>
    <div id="new-comment-submit">
      <ion-icon name="send" size="large" (click)="submitComment()"></ion-icon>
    </div>
  </div>


  <!-- infinite scroll -->
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreComment($event)" position="bottom">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="loading comment...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>

