<ion-header>
  <ion-toolbar>
    
    
    <ion-buttons slot="start" class="ion-padding">
      <ion-back-button defaultHref="home" size="small"></ion-back-button>
    </ion-buttons>

    <ion-title class="ion-text-start">comment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="comment-name" *ngFor="let data of wine.getCommentsAndRates()">   
    
    <ion-card-content>   
         
      <ion-card-title>
        <ion-icon name="person-outline" size="medium"></ion-icon>
        {{ data.comment.user.getName() }}
      </ion-card-title>
      
      <ion-card-subtitle>
          {{ data.comment.date.date }}
      </ion-card-subtitle>
      
      <ion-card-subtitle>
        <div *ngIf="data.rate">
          {{ data.rate.getRate() }} / 5
        </div>
      </ion-card-subtitle>

      <p class="wine-comment">
        {{ data.comment.getComment()}}
      </p>
      
    </ion-card-content>

  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" > 
    <ion-fab-button (click)="comment()" color="success" size="small">
      <ion-icon name="add-circle-outline" size="medium"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
